doctype html
html(lang='en')
    head
        title Short URI
    body
        form(action='/api/shorturl/new' method='POST')
            input(type='text' placeholder='Enter Url' name='url')
            button(type='submit') Enter
